body {
    background-color: black;
    color: white;
}
img {
    height: 50px;
    width: 50px;
}
#h1 {
   text-align: center;
   color: yellow;
   font-size: 50px;
}
#h2 {
    text-align: center;
    color: white;
}
table {
    width: 90%;
    margin: 20px auto;
   border: 20px;
}